@using TKS_intern_shared.ViewModels.ChiTietPhieuXuatKhos
@using AntDesign

<Table TItem="ChiTietPhieuXuatKhoSaveVM"
       DataSource="Items"
       RowKey="x => x.SanPhamId"
       Bordered="true"
       Size="TableSize.Small">

    <Column TData="ChiTietPhieuXuatKhoSaveVM" Title="Sản phẩm">
        <Template>@context.SanPham?.TenSanPham</Template>
    </Column>

    <Column TData="ChiTietPhieuXuatKhoSaveVM" Title="Số lượng">
        <Template>@context.SoLuongXuat</Template>
    </Column>

    <Column TData="ChiTietPhieuXuatKhoSaveVM" Title="Đơn giá">
        <Template>@context.DonGiaXuat.ToString("N0")</Template>
    </Column>

    <Column TData="ChiTietPhieuXuatKhoSaveVM" Title="Thành tiền">
        <Template>@((context.SoLuongXuat * context.DonGiaXuat).ToString("N0"))</Template>
    </Column>

    @if (OnDeleteClicked.HasDelegate || OnEditClicked.HasDelegate)
    {
        <ActionColumn Title="Hành động">
            <Space Size="SpaceSize.Middle">
                @if (OnEditClicked.HasDelegate)
                {
                    <SpaceItem>
                        <Button Size="ButtonSize.Small"
                                Icon="edit"
                                Type="ButtonType.Link"
                                OnClick="@(() => OnEditClicked.InvokeAsync(context))">
                        </Button>
                    </SpaceItem>
                }
                @if (OnDeleteClicked.HasDelegate)
                {
                    <SpaceItem>
                        <Button Size="ButtonSize.Small"
                                Icon="delete"
                                Type="ButtonType.Primary"
                                Danger
                                OnClick="@(() => OnDeleteClicked.InvokeAsync(context))">
                        </Button>
                    </SpaceItem>
                }
            </Space>
        </ActionColumn>
    }

</Table>

@code {
    [Parameter] public List<ChiTietPhieuXuatKhoSaveVM> Items { get; set; } = new();

    [Parameter] public EventCallback<ChiTietPhieuXuatKhoSaveVM> OnEditClicked { get; set; }
    [Parameter] public EventCallback<ChiTietPhieuXuatKhoSaveVM> OnDeleteClicked { get; set; }
}
